<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.smapley.guess">


    <!--读写SD卡权限-->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!-- 在SDCard中创建与删除文件权限 -->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <!--网络访问权限-->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- 录音权限 -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />


    <application
        android:name="com.smapley.guess.application.LocalApplication"
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.smapley.guess.activity.MainActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="me.nereo.multi_image_selector.MultiImageSelectorActivity"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name="com.smapley.guess.activity.Test"
            android:label="@string/acc_dialog_ok" />
        <activity
            android:name="com.smapley.guess.activity.Feedback"
            android:windowSoftInputMode="stateVisible"
            android:label="@string/feedback" />
        <activity
            android:name="com.smapley.guess.activity.AboutUs"
            android:label="@string/aboutus" />
        <activity
            android:name="com.smapley.guess.activity.Setting"
            android:label="@string/setting" />
        <activity
            android:name="com.smapley.guess.activity.Notification"
            android:label="@string/notification" />
        <activity
            android:name="com.smapley.guess.activity.Account"
            android:label="@string/account"
            android:windowSoftInputMode="stateHidden"/>
        <activity
            android:name="com.smapley.guess.activity.AddTask"
            android:label="@string/add"
            android:windowSoftInputMode="stateVisible"/>
        <activity android:name="com.smapley.guess.activity.PublishTask"/>
        <activity
            android:name="com.smapley.guess.activity.Login"
            android:label="@string/login"
            android:windowSoftInputMode="stateVisible|adjustPan" />
        <activity
            android:name="com.smapley.guess.activity.Achievement"
            android:label="@string/achievement" />
        <activity
            android:name="com.smapley.guess.activity.NoteList"
            android:label="@string/notes" />
        <activity
            android:name="com.smapley.guess.activity.TaskList"
            android:label="@string/task" />
        <activity
            android:name="com.smapley.guess.activity.Project"
            android:label="@string/project" />
        <activity
            android:name="com.smapley.guess.activity.Add"
            android:label="@string/add"
            android:windowSoftInputMode="stateVisible"/>
        <activity
            android:name="com.smapley.guess.activity.Search"
            android:label="@string/search"
            android:windowSoftInputMode="stateVisible"/>
        <activity android:name="com.smapley.guess.activity.Task"/>


    </application>

</manifest>
